/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

html, body {
  position: relative;
  height: 100%; }

/* Break Points */
html, body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #444444; }

section {
  padding: 0 2%; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%; }

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
  transition: all 0.5s; }
  .btn.light {
    color: #B6B6B6;
    border: #B6B6B6 1px solid; }
    .btn.light:hover {
      background-color: #444444;
      color: #FEF2E0; }
  .btn.secondary {
    background-color: #368FAB;
    color: #fff;
    padding: 10px 15px; }
    .btn.secondary:hover {
      background-color: #fff;
      color: #368FAB;
      border: #368FAB 1px solid; }
  .btn.dark {
    color: #444444;
    border: #444444 1px solid; }
    .btn.dark:hover {
      background-color: #B6B6B6;
      color: #B6B6B6; }

header {
  position: fixed;
  width: 100%;
  z-index: 3; }
  header nav {
    height: 70px;
    overflow: hidden; }
    header nav .wrapper {
      padding: 0 2%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: none;
      background-color: #fff;
      opacity: 0.8; }
      header nav .wrapper .nav {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 2px; }
        header nav .wrapper .nav img {
          width: 60px;
          margin-right: 30px; }
        header nav .wrapper .nav ul li {
          display: inline-block;
          margin: 0 30px; }
          header nav .wrapper .nav ul li a {
            color: #444444;
            text-transform: uppercase;
            font-weight: 500; }
            header nav .wrapper .nav ul li a:hover {
              border-bottom: 1.5px solid #444444; }
        header nav .wrapper .nav ul li:last-child a:hover {
          background-color: #444444;
          color: #fff;
          padding: 2px 5px;
          border: none;
          border-radius: 15%; }
      header nav .wrapper .user {
        display: inline-block;
        text-align: center;
        margin: 2px; }
        header nav .wrapper .user ul li {
          display: inline-block;
          margin: 0 30px; }
          header nav .wrapper .user ul li a {
            color: #444444;
            text-transform: uppercase;
            font-weight: 500; }
            header nav .wrapper .user ul li a:hover {
              border-bottom: 1.5px solid #444444; }
        header nav .wrapper .user ul li:last-child a {
          display: inline-block;
          background-color: #368FAB;
          color: #FEF2E0;
          padding: 10px;
          border-radius: 3px;
          font-size: 18px; }
          header nav .wrapper .user ul li:last-child a:hover {
            background-color: #FEF2E0;
            border: 2px solid #368FAB;
            color: #368FAB;
            font-weight: 600; }
    header nav .top {
      background: transparent; }

.hero {
  height: 100vh;
  background-color: #FEF2E0;
  background: url(/img/background_1.jpg) no-repeat center center/cover; }
  .hero .wrapper img {
    display: inline-block;
    height: 90%;
    max-width: auto;
    position: relative;
    bottom: -10%; }
  .hero .wrapper article {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .hero .wrapper article h1 {
      font-size: 50px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .hero .wrapper article h2 {
      font-size: 30px;
      font-weight: 500;
      margin: 20px 0 25px 0; }
    .hero .wrapper article .btn {
      margin-top: 25px; }

.about-info .wrapper {
  display: block;
  text-align: center;
  max-width: 871px; }
  .about-info .wrapper h2 {
    font-size: 30px;
    color: #F2870C;
    font-weight: 500;
    margin: 50px 0 20px 0; }
  .about-info .wrapper p {
    font-size: 18px;
    color: #444444;
    margin-bottom: 30px;
    line-height: 1.5; }
  .about-info .wrapper .btn {
    margin-bottom: 40px; }

.nav-grid .wrapper .grid-container {
  max-width: 1180px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 295px 295px 295px;
  margin-bottom: 70px; }
  .nav-grid .wrapper .grid-container .item-blue {
    background-color: #DBF1F7;
    color: #444444;
    transition: all 0.3s ease-in-out; }
    .nav-grid .wrapper .grid-container .item-blue:hover {
      background-color: #fff; }
      .nav-grid .wrapper .grid-container .item-blue:hover article {
        transform: translateY(-80%);
        transition: all 0.3s ease-in-out; }
      .nav-grid .wrapper .grid-container .item-blue:hover .link {
        visibility: visible;
        transition: all 0.5s ease-in; }
    .nav-grid .wrapper .grid-container .item-blue article {
      width: 260px;
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color: #444444;
      margin: 0 auto;
      transition: all 0.3s ease-in-out; }
      .nav-grid .wrapper .grid-container .item-blue article i {
        font-size: 30px;
        margin-bottom: 15px; }
      .nav-grid .wrapper .grid-container .item-blue article p {
        font-size: 15px;
        margin-top: 15px; }
    .nav-grid .wrapper .grid-container .item-blue .link {
      text-align: center;
      position: relative;
      top: 35%;
      visibility: hidden; }
      .nav-grid .wrapper .grid-container .item-blue .link a {
        transition: all 0.2s ease-in-out;
        text-decoration: none;
        color: #444444;
        font-size: 16px;
        font-weight: 600; }
  .nav-grid .wrapper .grid-container .item-orange {
    background-color: #FEF2E0;
    color: #444444;
    transition: all 0.3s ease-in-out; }
    .nav-grid .wrapper .grid-container .item-orange:hover {
      background-color: #fff; }
      .nav-grid .wrapper .grid-container .item-orange:hover article {
        transform: translateY(-80%);
        transition: all 0.3s ease-in-out; }
      .nav-grid .wrapper .grid-container .item-orange:hover .link {
        visibility: visible;
        transition: all 0.5s ease-in; }
    .nav-grid .wrapper .grid-container .item-orange article {
      width: 260px;
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color: #444444;
      margin: 0 auto;
      transition: all 0.3s ease-in-out; }
      .nav-grid .wrapper .grid-container .item-orange article i {
        font-size: 30px;
        margin-bottom: 15px; }
      .nav-grid .wrapper .grid-container .item-orange article p {
        font-size: 15px;
        margin-top: 15px; }
    .nav-grid .wrapper .grid-container .item-orange .link {
      text-align: center;
      position: relative;
      top: 35%;
      visibility: hidden; }
      .nav-grid .wrapper .grid-container .item-orange .link a {
        transition: all 0.2s ease-in-out;
        text-decoration: none;
        color: #444444;
        font-size: 16px;
        font-weight: 600; }
  .nav-grid .wrapper .grid-container .item1 {
    grid-row-start: 1;
    grid-row-end: 3;
    background: url(/img/grid_1.jpg) no-repeat center center/cover; }
  .nav-grid .wrapper .grid-container .item2 {
    background: url(/img/grid_2.jpg) no-repeat center center/cover; }
  .nav-grid .wrapper .grid-container .item3 {
    background: url(/img/grid_3.jpg) no-repeat center center/cover; }
  .nav-grid .wrapper .grid-container .item4 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    background: url(/img/grid_4.jpg) no-repeat center center/cover; }
  .nav-grid .wrapper .grid-container .item5 {
    background: url(/img/grid_5.jpg) no-repeat center center/cover; }

.newsletter .wrapper {
  height: 100%;
  margin: 0 auto 60px auto; }
  .newsletter .wrapper h3 {
    display: block;
    text-align: center;
    color: #F2870C;
    font-weight: 600;
    font-size: 30px; }
  .newsletter .wrapper .nl-container {
    font-size: 0; }
    .newsletter .wrapper .nl-container .nl-form {
      max-width: 50%;
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      position: relative; }
      .newsletter .wrapper .nl-container .nl-form h4 {
        font-size: 20px;
        color: #444444;
        margin-bottom: 27px;
        display: block;
        text-align: left; }
        .newsletter .wrapper .nl-container .nl-form h4:first-child {
          font-size: 25px;
          color: #F5B66E;
          font-weight: 500;
          margin-bottom: 10px; }
      .newsletter .wrapper .nl-container .nl-form .form {
        display: block;
        width: 100%;
        border: 1px #B6B6B6 solid;
        border-radius: 2px;
        padding: 15px 0 15px 15px;
        margin-bottom: 18px; }
      .newsletter .wrapper .nl-container .nl-form input[id="conditions"] {
        font-size: 12px;
        vertical-align: middle; }
      .newsletter .wrapper .nl-container .nl-form label[for="conditions"] {
        font-size: 12px;
        color: #838383;
        vertical-align: middle; }
      .newsletter .wrapper .nl-container .nl-form a {
        position: absolute;
        right: 0;
        bottom: -20%; }
    .newsletter .wrapper .nl-container .nl-img {
      vertical-align: middle;
      max-width: 50%;
      padding: 10px 10px 10px 30px;
      width: 100%;
      display: inline-block; }
      .newsletter .wrapper .nl-container .nl-img img {
        width: 100%; }

.contact-section .wrapper {
  display: block;
  text-align: center; }
  .contact-section .wrapper h1 {
    font-size: 30px;
    margin: 10px 0;
    text-transform: uppercase; }
  .contact-section .wrapper p {
    font-size: 14px;
    margin: 10px 0 30px 0;
    color: grey; }
  .contact-section .wrapper form label {
    text-transform: uppercase;
    font-size: 14px;
    color: grey; }
  .contact-section .wrapper form .row label {
    display: block; }
  .contact-section .wrapper form .row input {
    display: block;
    padding: 20px 0 20px 0; }

.videos .wrapper .vid-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 280px;
  grid-gap: 20px; }
  .videos .wrapper .vid-container .video {
    opacity: 70%;
    transition: all 0.3s ease-out 0s; }
    .videos .wrapper .vid-container .video:hover {
      opacity: 100%;
      cursor: pointer;
      transform: scale(1.2);
      z-index: 2; }
      .videos .wrapper .vid-container .video:hover .icon {
        opacity: 0%; }
    .videos .wrapper .vid-container .video a {
      width: 100%;
      height: 100%; }
      .videos .wrapper .vid-container .video a .icon {
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: #fff; }
        .videos .wrapper .vid-container .video a .icon i {
          font-size: 40px; }
  .videos .wrapper .vid-container .video1 {
    background: url(/img/Vid_1.png) center center/cover no-repeat; }
  .videos .wrapper .vid-container .video2 {
    background: url(/img/Vid_2.png) center center/cover no-repeat; }
  .videos .wrapper .vid-container .video3 {
    background: url(/img/Vid_3.png) center center/cover no-repeat; }
  .videos .wrapper .vid-container .video4 {
    background: url(/img/Vid_4.png) center center/cover no-repeat; }
  .videos .wrapper .vid-container .video5 {
    background: url(/img/Vid_5.png) center center/cover no-repeat;
    display: none; }
  .videos .wrapper .vid-container .video6 {
    background: url(/img/Vid_6.png) center center/cover no-repeat;
    display: none; }
  .videos .wrapper .vid-container .video7 {
    background: url(/img/Vid_7.png) center center/cover no-repeat;
    display: none; }
  .videos .wrapper .vid-container .video8 {
    background: url(/img/Vid_8.png) center center/cover no-repeat;
    display: none; }
