.about-info {
    .wrapper {
        display: block;
        text-align: center;
        max-width: 871px;
        h2 {
            font-size: 30px;
            color: $primary-color;
            font-weight: 500;
            margin: 50px 0 20px 0;
        }
        p {
            font-size: 18px;
            color: $dark;
            margin-bottom:30px;
            line-height: 1.5;
        }
        .btn {
            margin-bottom: 40px;
        }
    }
}

// main {
//     .about-info {
//         width: 1180px;
//         display: flex;
//         justify-content: center;
//         margin: auto;
//         .wrapper {
//             display: block;
//             max-width: 72%;
//             text-align: center;
//             h2 {
//                 font-size: 30px;
//                 color: $primary-color;
//                 font-weight: 500;
//                 margin: 50px 0 20px 0;
//             }
//             p {
//                 font-size: 20px;
//                 color: $dark;
//                 margin-bottom:30px;
//                 line-height: 1.4;
//             }
//             a {
//                 margin-bottom: 40px;
//             }
//         }
//     }
// }