// .breadcrumb {
//     .wrapper {
//         ul {
//             li {
//                 display: inline-block;
//                 &:after {
//                     content: '/';
//                     &:last-child {
//                         display: none;
//                     }
//                 }
//             }
//         }
//     }
// }