.contact-section {
    .wrapper {
        display: block;
        text-align: center;
        h1 {
            font-size: 30px;
            margin: 10px 0;
            text-transform: uppercase;
        }
        p {
            font-size: 14px;
            margin: 10px 0 30px 0;
            color: grey;
        }
        form {
            label {
                text-transform: uppercase;
                font-size: 14px;
                color: grey;
            }
            .row {
                label {
                    display: block;
                }
                input {
                    display: block;
                    padding: 20px 0 20px 0;
                }
            }
        } 
    }
}