.nav-grid {    
    .wrapper {
        .grid-container {
        max-width: 1180px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 295px 295px 295px; 
        margin-bottom: 70px;
        .item-blue {
            background-color: $secondary-light;
            color: $dark;
            transition: all 0.3s ease-in-out;
            &:hover {
              background-color: #fff;
              article {
                transform: translateY(-80%);
                transition: all 0.3s ease-in-out;
              }
              .link {
                visibility: visible;
                transition: all 0.5s ease-in;
              }
            }
            article {
                width: 260px;
                text-align: center;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                color: $dark;
                margin: 0 auto;
                transition: all 0.3s ease-in-out;
                i {
                  font-size: 30px;
                  margin-bottom: 15px;
                }
                p{
                  font-size: 15px;
                  margin-top: 15px;
                }
              }
            .link {
                text-align: center;
                position: relative;
                top: 35%;
                visibility: hidden;  
                a{
                  transition: all 0.2s ease-in-out;   
                  text-decoration: none; 
                  color: $dark;
                  font-size: 16px;
                  font-weight: 600;
                } 
                
            }
          }
          .item-orange {
            background-color: $primary-light;
            color: $dark;
            transition: all 0.3s ease-in-out;
            &:hover {
              background-color: #fff;
              article {
                transform: translateY(-80%);
                transition: all 0.3s ease-in-out;
              }
              .link {
                visibility: visible;
                transition: all 0.5s ease-in;
              }
            }
            article {
                width: 260px;
                text-align: center;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                color: $dark;
                margin: 0 auto;
                transition: all 0.3s ease-in-out;
                i {
                  font-size: 30px;
                  margin-bottom: 15px;
                }
                p{
                  font-size: 15px;
                  margin-top: 15px;
                }
              }
            .link {
                text-align: center;
                position: relative;
                top: 35%;
                visibility: hidden;  
                a{
                  transition: all 0.2s ease-in-out;   
                  text-decoration: none; 
                  color: $dark;
                  font-size: 16px;
                  font-weight: 600;
                } 
                
            }
          }
          .item1 {
            grid-row-start: 1;
            grid-row-end: 3;
            background: url(/img/grid_1.jpg) no-repeat center center/cover;
          }
          .item2 {
              background: url(/img/grid_2.jpg) no-repeat center center/cover;
          }
          .item3 {
              background: url(/img/grid_3.jpg) no-repeat center center/cover;
          }
          .item4 {
            grid-row-start: 2;
            grid-row-end: 4;
            grid-column-start: 4;
            grid-column-end: 5;
            background: url(/img/grid_4.jpg) no-repeat center center/cover;
          }
          .item5 {
              background: url(/img/grid_5.jpg) no-repeat center center/cover;
          }
        }
      }
    }
      

// .nav-grid {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     .grid-container {
//         // max-width: 1180px;
//         display: grid;
//         grid-template-columns: 295px 295px 295px 295px;
//         & > div {
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             text-align: center;
//             height: 295px;
//             font-size: 20px;
//             opacity: 50%;
//             color: #000;
//             font-weight: 600;
//             line-height: 1.4;
//         }
//         .item-1 {
//             grid-row: 1 / 3;
//             background: url(/scss/img/grid_1.jpg) no-repeat center center/cover;
//             height: 100%;
//         }
//         .item2 {
//             background: $secondary-light;
//         }
//         .item-3 {
//             background: url(/scss/img/grid_2.jpg) no-repeat center center/cover;
//         }
//         .item4 {
//             background: $primary-light;
//         }
//         .item5 {
//             background: $primary-light;
//         }
//         .item-6 {
//             background: url(/scss/img/grid_3.jpg) no-repeat center center/cover;
//         }
//         .item-7 {
//             grid-column: 4;
//             grid-row: 2 / 4;
//             height: 100%;
//             background: url(/scss/img/grid_4.jpg) no-repeat center center/cover;
//         }
//         .item8 {
//             background: $secondary-light;
//         }
//         .item-9 {
//             background: url(/scss/img/grid_5.jpg) no-repeat center center/cover;
//         }
//         .item10 {
//             background: $secondary-light;
//         }
//         [class|="item"] {
//             &:hover {
//                 opacity: 1;
//                 cursor: pointer;
//             }
//         }
//     }
// }