.hero {
    height: 100vh;
    background-color: $primary-light;
    background: url(/img/background_1.jpg) no-repeat center center/cover;
    .wrapper {
        img {
            display: inline-block;
            height: 90%;
            max-width: auto;
            position: relative;
            bottom: -10%;
        }
        article {
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            h1 {
                font-size: 50px;
                font-weight:600;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            h2 {
                font-size: 30px;
                font-weight:500;
                margin: 20px 0 25px 0;
            }
            .btn {
                margin-top: 25px; 
            }
        }
    }
}



// .hero{
//     height: 100vh;
//     background: url(/scss/img/background_1.jpg) no-repeat center center/cover;
//     .wrapper{
//         height: 100vh;
//         display: flex;
//         justify-content: center;
//         align-items: flex-end;
//         img {
//             height: 90vh;
//         }
//         article{
//             position: relative;
//             bottom: 50vh;
//             transform: translateY(+50%);
//             h1{
//                 font-size: 50px;
//                 font-weight:600;
//                 margin: 15px 0;
//                 text-transform: uppercase;
//             }
//             h2{
//                 font-size: 30px;
//                 font-weight:500;
//                 margin: 10px 0;
//             }
//             a{
//                 margin: 30px 0;
//             }
//         }
//     }
// }
