header{
    position: fixed;
    width: 100%;
    z-index: 3;
    nav{
        height: 70px;
        overflow: hidden;
        .wrapper {
            padding: 0 2%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: none;
            background-color: #fff;
            opacity: 0.8;
            .nav {                
                display: flex;
                align-items: center;
                text-align: center;
                margin: 2px;
                img {
                    width: 60px;
                    margin-right: 30px;
                }
                ul {
                    li {
                        display: inline-block;
                        margin: 0 30px;
                        a {
                            color: $dark;
                            text-transform: uppercase;
                            font-weight: 500;
                            &:hover {
                                border-bottom: 1.5px solid $dark;
                            }
                        }
                    }
                    li:last-child {
                        a{
                            &:hover {
                                background-color: $dark;
                                color: #fff;
                                padding: 2px 5px;
                                border: none;
                                border-radius: 15%;
                            }
                        }   
                    }
                }
            }
            .user {
                display: inline-block;
                text-align: center;
                margin: 2px;
                ul {
                    li {
                        display: inline-block;
                        margin: 0 30px;
                        a {
                            color: $dark;
                            text-transform: uppercase;
                            font-weight: 500;
                            &:hover {
                                border-bottom: 1.5px solid $dark;       
                            }
                        }
                    }
                    li:last-child {
                        a {
                            display: inline-block;
                            background-color: $secondary-color;
                            color: $primary-light;
                            padding: 10px;
                            border-radius: 3px;
                            font-size: 18px;
                            &:hover {
                                background-color: $primary-light;   
                                border: 2px solid $secondary-color;  
                                color: $secondary-color;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
        .top {
            background: transparent;
        }
    }
}







// header {
//     padding-top: 20px;
//     padding-left: 2%;
//     padding-right: 2%;
//     position: fixed;
//     z-index: 3;
//     width: 1180px;
//     .wrapper {
//         font-size: 0;
//         padding-bottom: 20px;
//         border-bottom: 1px solid #fff;
//         @include mq(0,1024px){
//             text-align: center;
//         }
//         img{
//             width: 60px;

//             display: inline-block;
//             vertical-align: middle;
//             margin-right: 10px;
//             @include mq(0,1024px){
//                 margin-bottom: 20px;
//             }
//         }
//         nav {
//             display: inline-block;
//             max-width: calc(51% - 60px);
//             // width: 1500px;
//             vertical-align: middle;
//             @include mq(0,1024px){
//                 max-width: 100%;
//                 text-align: center;
//             }
//             ul {
//                 li{
//                     display: inline-block;
//                     font-size: 18px;
//                     margin-right: 4%;
//                     a {
//                         color: $dark;
//                         &:hover {
//                             color: $primary-dark;
//                         }
//                         &:nth-of-type(1){
//                             padding-left: 30px;
//                         }
//                         &:nth-of-type(2){
//                             text-align: right;
//                             @include mq(0,1024px){
//                                 text-align: center;
//                                 margin-top: 20px;
//                             }
//                             ul{
//                                 font-size: 0;
//                                 li{
//                                     font-size: 18px;
//                                     vertical-align: middle;
//                                     input[type="text"]{
//                                         padding: 10px;
//                                         color:$dark;
//                                         border-radius:4px;
//                                         border:1px solid #999;
//                                         display: inline-block;
//                                         vertical-align: middle;
//                                         position: absolute;
//                                         left: 0;
//                                         top: 0;
//                                     }
//                                     a{
//                                         &.search {
//                                             position: relative;
//                                             display: inline-block;
//                                             padding: 8px 12px;
//                                             border:1px solid #666;
//                                             color:#FFF;
//                                             border-radius:4px;
//                                             background-color: #999;
//                                             cursor: pointer;
//                                             font-size: 18px;
//                                             vertical-align: middle;
//                                         }
//                                     }
//                                     &:last-child{
//                                         margin-right: 0;
//                                         overflow: hidden;
//                                         position: relative;
//                                         transition: width 1s ease;
//                                         width: 33px;
//                                         &:hover {
//                                             width: 200px;
//                                         }
//                                     }
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }

//         }
//     }
// }




// header {
//     padding: 20px 2% 0 2%;
//     color: $dark;
//     position: fixed;
//     z-index: 2;
//     .wrapper {
//         display: flex;
//         img{
//             width: 60px;
//             display: inline-block;
//         }
//         nav {
//             display: flex;
//             justify-content: space-between;
//             // width: 100vw;
//             .first, .second {
//                 display: flex;
//                 justify-content: space-around;
//             //     li {
//             //         margin: 0 20px;
//                 // }
//             }
//         }
//     }
// }

