.newsletter {
    .wrapper {
        height: 100%;
        margin: 0 auto 60px auto;
        h3 {
            display: block;
            text-align: center;
            color: $primary-color;
            font-weight: 600;
            font-size: 30px;
        }
        .nl-container {
            font-size: 0;
            .nl-form {
                max-width: 50%;
                width: 100%;
                display: inline-block;
                vertical-align: middle;
                position: relative;
                h4 {
                font-size: 20px;
                color: $dark;
                margin-bottom: 27px;
                display: block;
                text-align: left;
                &:first-child {
                    font-size: 25px;
                    color: $primary-med;
                    font-weight: 500;
                    margin-bottom: 10px;
                    }
                }
                .form {
                    display: block;
                    width: 100%;
                    border: 1px $light solid;
                    border-radius: 2px;
                    padding: 15px 0 15px 15px;
                    margin-bottom: 18px;
                }
                input[id="conditions"] {
                    font-size: 12px;
                    vertical-align: middle;
                }
                label[for="conditions"] {
                    font-size: 12px;
                    color: $medium;
                    vertical-align: middle;
                }
                a {
                    position: absolute;
                    right: 0;
                    bottom: -20%;
                }
            }
            .nl-img {
                vertical-align: middle;
                max-width: 50%;
                padding: 10px 10px 10px 30px;
                width: 100%;
                display: inline-block;
                img {
                    width: 100%;
                }
            }
        }
    }
}




// .newsletter {
//     max-width: 1180px;
//     margin: auto;
//     .nl {
//         margin-bottom: 10px;
//         font-size: 30px;
//         color: $primary-color;
//         font-weight: 600;
//     }
//     .nl-container {
//         display: flex;
//         justify-content: space-between;
//         .nl-form {
//             position: relative;
//             h4 {
//                 font-size: 20px;
//                 color: $dark;
//                 line-height: 1.4;
//                 margin-bottom: 20px;
//                 margin-top: 70px;
//                 span {
//                     font-size: 25px;
//                     color: $primary-med;
//                     font-weight: 500;
//                 }
//             }
//             .form {
//                 display: block;
//                 width: 580px;
//                 padding: 15px 10px;
//                 margin-top: 15px;
//                 border: 1px $light solid;
//                 border-radius: 5px;
//             }
//             label {
//                 font-size: 12px;
//                 color: $medium;
//             }
//             a {
//                 position: absolute;
//                 left: 580px;
//                 transform: translateX(-100%);
//                 top: 320px;
//             }
//         }
//         .nl-img {
//             width: 500px;
//         }
//     }
// }