html,body {
    font-family: $poppins;
    background: #fff;
    color: $dark;
}
section {
    padding:0 2%;
}
.wrapper {
    max-width: 1280px;
    margin:0 auto;
    height: 100%;
}

// buttons
.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.5s;  
    &.light {
        color: $light;
        border: $light 1px solid;
        &:hover {
            background-color: $dark;
            color: $primary-light;
        }
    }
    &.secondary {
        background-color: $secondary-color;
        color: #fff;
        padding: 10px 15px;
        &:hover {
            background-color: #fff;
            color: $secondary-color;
            border: $secondary-color 1px solid;
        }
    }
    &.dark {
        color: $dark;
        border: $dark 1px solid;
        &:hover {
            background-color: $light;
            color: $light;
        }
    }
}

// // background-color
// .background-color {
//     background-color: $primary-light;
//     height: 261px;
//     position: relative;
//     bottom: 100px;
//     z-index: -1;
// }