// colors
$primary-color: #F2870C;
$primary-light: #FEF2E0;
$primary-med: #F5B66E;
$primary-dark: #B95900;
$secondary-color: #368FAB;
$secondary-light: #DBF1F7;
$secondary-med: #A3DAEB;
$secondary-dark: #00617C;
$dark: #444444;
$medium: #838383;
$light: #B6B6B6;
$poppins: 'Poppins', sans-serif;