.videos {
    .wrapper {
        .vid-container {
            margin: 0 auto;
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: 280px;
            grid-gap: 20px;
            .video {
                opacity: 70%;
                transition: all 0.3s ease-out 0s;
                &:hover{
                    opacity: 100%;
                    cursor: pointer;
                    transform: scale(1.2);
                    z-index: 2;
                    .icon {
                        opacity: 0%;
                    }
                }
                a{
                    width: 100%;
                    height: 100%;
                    .icon {
                        text-align: center;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #fff;
                        i {
                            font-size: 40px;
                        }
                    }
                }
            }
            .video1 {
                background: url(/img/Vid_1.png) center center/cover no-repeat;
            }
            .video2 {
               background: url(/img/Vid_2.png) center center/cover no-repeat;
            }
            .video3 {
                background: url(/img/Vid_3.png) center center/cover no-repeat;
             }
             .video4 {
                background: url(/img/Vid_4.png) center center/cover no-repeat;
             }
             .video5 {
                background: url(/img/Vid_5.png) center center/cover no-repeat;
                display: none;
             }
             .video6 {
                background: url(/img/Vid_6.png) center center/cover no-repeat;
                display: none;
             }
             .video7 {
                background: url(/img/Vid_7.png) center center/cover no-repeat;
                display: none;
             }
             .video8 {
                background: url(/img/Vid_8.png) center center/cover no-repeat;
                display: none;
             }
        }
    }
}